.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  color: var(--dl-color-scheme-white);
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.navigation-links-navlink:hover {
  color: var(--dl-color-scheme-pink);
}
.navigation-links-navlink1 {
  color: var(--dl-color-scheme-white);
  cursor: pointer;
  transition: 0.3s;
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  color: var(--dl-color-scheme-pink);
}
.navigation-links-navlink2 {
  color: var(--dl-color-scheme-white);
  cursor: pointer;
  transition: 0.3s;
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.navigation-links-navlink2:hover {
  color: var(--dl-color-scheme-pink);
}
.navigation-links-navlink3 {
  color: var(--dl-color-scheme-white);
  cursor: pointer;
  transition: 0.3s;
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.navigation-links-navlink3:hover {
  color: var(--dl-color-scheme-pink);
}








.navigation-links-root-class-name17 {
  margin-right: var(--dl-space-space-twounits);
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.navigation-text {
  color: #000000;
  width: 100%;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-max-width {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-end;
}
.navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}




@media(max-width: 991px) {
  .navigation-nav {
    display: none;
  }
}
@media(max-width: 767px) {
  .navigation-max-width {
    padding: var(--dl-space-space-unit);
  }
}

.family-tree-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.family-tree-hero {
  position: relative;
  padding-top: 128px;
}
.family-tree-max-width {
  z-index: 1;
  align-items: stretch;
}
.family-tree-content-container {
  flex: 1;
  display: flex;
  max-width: 45%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.family-tree-video-container {
  flex: 1;
  width: 200px;
  height: 500px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  flex-direction: column;
}
.family-tree-blue-background {
  top: 0px;
  right: 0px;
  width: 47%;
  height: 100px;
  position: absolute;
  min-height: 80%;
  background-size: cover;
  background-image: url("public/playground_assets/blue-background-1500w.png");
  background-repeat: no-repeat;
}
.family-tree-container1 {
  width: 70%;
  height: 766px;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.family-tree-iframe {
  width: 100%;
  height: 100%;
}
.family-tree-iframe1 {
  width: 60%;
  height: 1000px;
  margin-bottom: var(--dl-space-space-twounits);
}
.family-tree-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.family-tree-text5 {
  top: 38px;
  right: var(--dl-space-space-threeunits);
  position: absolute;
  font-size: 10px;
  align-self: center;
}
.family-tree-text6 {
  top: 38px;
  left: var(--dl-space-space-threeunits);
  position: absolute;
  font-size: 16px;
  align-self: center;
}
@media(max-width: 991px) {
  .family-tree-max-width {
    flex-direction: column;
  }
  .family-tree-content-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .family-tree-blue-background {
    top: auto;
    width: 100%;
    bottom: 0px;
    min-height: 40%;
  }
}
@media(max-width: 767px) {
  .family-tree-text {
    font-size: 48px;
  }
}
