.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  color: var(--dl-color-scheme-white);
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.navigation-links-navlink:hover {
  color: var(--dl-color-scheme-pink);
}
.navigation-links-navlink1 {
  color: var(--dl-color-scheme-white);
  cursor: pointer;
  transition: 0.3s;
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  color: var(--dl-color-scheme-pink);
}
.navigation-links-navlink2 {
  color: var(--dl-color-scheme-white);
  cursor: pointer;
  transition: 0.3s;
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.navigation-links-navlink2:hover {
  color: var(--dl-color-scheme-pink);
}
.navigation-links-navlink3 {
  color: var(--dl-color-scheme-white);
  cursor: pointer;
  transition: 0.3s;
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.navigation-links-navlink3:hover {
  color: var(--dl-color-scheme-pink);
}








.navigation-links-root-class-name17 {
  margin-right: var(--dl-space-space-twounits);
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.navigation-text {
  color: #000000;
  width: 100%;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-max-width {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-end;
}
.navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}




@media(max-width: 991px) {
  .navigation-nav {
    display: none;
  }
}
@media(max-width: 767px) {
  .navigation-max-width {
    padding: var(--dl-space-space-unit);
  }
}
