<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="index.html" class="navigation-links-navlink navigation-Link">
      <span>Home</span>
    </a>
    <a
      href="family-tree.html"
      class="navigation-links-navlink1 navigation-Link"
    >
      <span>About</span>
    </a>
    <a href="interviews.html" class="navigation-links-navlink2 navigation-Link">
      <span>Speakers</span>
    </a>
    <a href="pictures.html" class="navigation-links-navlink3 navigation-Link">
      <span>Pictures</span>
    </a>
  </nav>
</div>
